
* {
    margin: 0;
    font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}
.topbar {
    float: right;
    padding-right: 5vh;
    right: 0;
    background-color: black;
    width: 100%;
    padding: 13px;
    border-bottom: 5px solid rgb(115, 55, 226);
}

.topbar > a {
    float: right;
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

.topbar > span {
    color: white;
    padding-left: 20px;
    font-weight: 800;
}

.home {
   text-align: center;
   padding-top: 15vh;
   font-size: 45px;
   font-weight: 900;
   line-height: 1.15;
   background-color: rgb(163, 231, 248);
   border-bottom: 5px solid rgb(191, 241, 145);
   height: 75vh;
}

.animate__animated {
    --animate-duration: 2s;
    /* color: white; */
    display: inline-block;
    animation: lightSpeedInRight;
    animation-duration: 2s;
    margin: 0 0.5rem;
}

.batoul{
    font-size: 125px;
    
}

.cooleffect {
    background-color: black;
    font-size: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(191, 241, 145);
}

.bio {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-bottom: 5px solid rgb(163, 231, 248);
}

.splitbio {
    width: 55vh;
    padding-right: 25px;
    text-align: left;
    /* line-height: 1.5; */
}

.bioimages {
    width: 55vh;
    margin-top: auto;
    margin-bottom: auto;
}
.socialMedia {
    text-align: center;
    color: gray;
    font-size: 10px;
    padding-top: 4vh;
}

.socials {
    margin-left: 50px;
}

.socialMedia > a {
    padding-left: 10px;
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
     .contact, .portfolio, .bio, .home, .bioimages {
      width: 100vh;
    }
  }

.selfie {
    border: 2px solid yellow;
    height: 300px;
    width: 300px;
}

.portfolio {
    background-color:rgb(191, 241, 145);
    /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-lime-green-with-darker-green-watercolor-dabs-and-blend-on-white-image_400519.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    height: 75vh;
}

.portfolio > h2 {
    padding-top: 5vh;
    font-weight: 900;
    font-size: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
    border: 0;
}

.center {
    padding-top: 2vh;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;    
}

.title_center {
    text-align: center;
}
.form {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
  }

  Form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

  .carousel_item{
      border: 5px solid white;
      border-radius: 10px;
      background-color: white;
      width: 450px;
      height: 375px;
      margin-right: auto;
      margin-left: auto;
      /* padding-top: 30px; */
  }


 .desc {
     background-color: white;
     padding-bottom: 10px;
     margin: 0;
     font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: bolder;
    border-radius: 2px;
 }

 .publications {
     background-color: rgb(175, 234, 241);
     height: 100vh;
 }

 .projects {
     background-color: lavender;
     height: 100vh;
 }

 .column {
     border: 1px solid black;
     width: 40vh;
     padding: 10px;
     margin-top: 10px;
     background-color: white;
     margin-left: auto;
     margin-right: auto;
     /* display: flex; */
     /* flex-direction: row; */
 }

 .card {
     padding: 30px;
 }
 .postimg {
     width: auto;
     border: 1px solid rgb(253, 254, 255);
     height: auto;
     width: 30vh;
     margin-left: 3.5vh;
     margin-right: auto;
     margin-top: 2vh;
 }

 .projects {
     width: 100%;
 }

 .projects_body {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-auto-rows: auto;
     text-align: center;
     justify-content: space-between;
     margin-left: 5vh;
     grid-gap: 1rem;
 }
 .project_card {
     width: 30vh;
     padding-top: 20px;
 }
 /* .cards {
 
    display: grid;
     
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;
     
    } */