@font-face {
  font-family: 'BIZ UDPGothic';
  src: url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
}

* {
  margin: 0;
  font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.topbar {
  float: right;
  padding-right: 5vh;
  right: 0;
  background-color: black;
  width: 100%;
  padding: 13px;
  border-bottom: 5px solid rgb(86, 31, 189);
}

.topbar > a {
  float: right;
  text-decoration: none;
  padding-left: 20px;
  color: white;
}

.topbar > span {
  color: white;
  padding-left: 20px;
  font-weight: 800;
}

.home {
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.15;
  color: white;
  padding-bottom: 10vh;
  border-radius: 25px;
  z-index: 2;
  position: relative;
}

.reactPlayer {
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: black;
}

.shell {
  padding: 30px;
  background-color: rgb(158, 117, 235);
}

.secretMessage {
  background-color: black;
}

.middle {
  padding: 30px;
  background-color: rgb(70, 28, 148);
  border-radius: 25px;
}

.animate__animated {
  --animate-duration: 2s;
  /* color: white; */
  display: inline-block;
  animation: lightSpeedInRight;
  animation-duration: 2s;
  margin: 0 0.5rem;
}

.batoul {
  font-size: 125px;
}

.cooleffect {
  background-color: white;
  font-size: 100px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
.bio-border {
  padding: 10px;
  background-color: rgb(247, 165, 222);
  border-radius: 25px;
}

.bio {
  padding: 30px;
  background-color: black;
}

.bio_middle {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(204, 83, 188);
  border-radius: 25px;
  padding: 35px;
  border-bottom: 5px solid rgb(163, 231, 248);
}

.right {
  color: white;
}

.bioLeft {
  width: 50%;
  margin-top: -20px;
}

.aboutme {
  font-size: 60px;
  font-weight: bolder;
}

.splitbio {
  width: 50%;
  /* padding-right: 5px; */
  padding-left: 20px;
  text-align: center;
}

.video {
  background-color: black;
  position: relative;
  width: auto;
  height: auto;
}

.nav {
  background-color: white;
}

.bioimages {
  width: 60%;
  border: 2px solid rgb(232, 247, 35);
  border-radius: 180px;
}
.socialMedia {
  text-align: center;
  padding-left: 50px;
  color: black;
  font-size: 10px;
  padding-top: 4vh;
}
.circles {
  border: 2px groove rgb(246, 249, 250);
  border-radius: 180px;
  width: 80%;
  padding: 2px;
}

.lastone {
  border: 2px groove rgb(246, 249, 250);
  width: 60%;
  border-radius: 180px;
}

.i {
  border: solid 2px black;
  border-radius: 180px;
  height: 340px;
}
.socials {
  margin-left: 50px;
}
.o {
  border: 2px groove rgb(94, 209, 90);
  border-radius: 120px;
}
.ab {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.socialMedia > a {
  padding-left: 10px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .contact,
  .portfolio,
  .bio,
  .home,
  .bioimages {
    width: 100vh;
  }
}

.selfie {
  border: 2px solid yellow;
  height: 300px;
  width: 300px;
  border-radius: 180px;
  padding: 3px;
}

#portfolio {
  background-color: black;
  text-align: center;
  border-top: 5px groove rgb(86, 31, 189);
}

.apps {
  color: white;
  padding-top: 5vh;
  font-weight: 900;
  font-size: 30px;
}

.contact {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border: 0;
  background-color: black;
}

.center {
  /* padding-top: 2vh; */
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.title_center {
  text-align: center;
  color: white;
  background-color: black;
}
.form {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}

form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.carousel {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  padding: 3vh;
  /* padding-bottom: 3vh; */
  background-color: black;
}

.carousel_item > img {
  border-radius: 25px;
}

.carousel_item {
  /* border: 5px solid white; */
  border-radius: 10px;
  background-color: white;
  background-color: black;
  width: 550px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  /* padding-top: 30px; */
}

.desc {
  background-color: black;
  color: white;
  padding-bottom: 10px;
  margin: 0;
  font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: bolder;
  border-radius: 2px;
}

.publications {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 3vh;
  overflow-x: scroll;
}

.iframe {
  padding-left: 15px;
  border: 4px solid #000;
  -moz-border-radius: 25px;
  border-radius: 15px;
  overflow: hidden;
}

.projects {
  background-color: lavender;
  height: 100vh;
}

.bg {
  background-color: black;
  border-top: 5px groove rgb(114, 53, 228);
  border-bottom: 5px groove rgb(114, 53, 228);
  padding-top: 15px;
  padding-bottom: 15px;
}

.column {
  border: 1px solid black;
  width: 40vh;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.card {
  padding: 15px;
}

.outer-column {
  padding: 10px;
  background-color: rgb(95, 31, 95);
  border-radius: 25px;
  margin: 5px;
}

.mid-column {
  padding: 10px;
  background-color: rgb(255, 179, 230);
  border-radius: 25px;
}
.wait {
  padding: 10px;
  background-color: rgb(160, 43, 160);
  border-radius: 25px;
}

.postimg {
  width: auto;
  border: 1px solid rgb(253, 254, 255);
  height: auto;
  width: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}
.letsee {
  background-color: black;
}

.projects {
  width: 100%;
}

.projects_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  text-align: center;
  justify-content: space-between;
  margin-left: 5vh;
  grid-gap: 1rem;
}
.project_card {
  width: 30vh;
  padding-top: 20px;
}

.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  /* float: left; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.projectCardContainer {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

.projectCard {
  width: 45vh;
}
.projecthomeimg {
  width: 40vh;
  /* height: 30vh; */
}

.comingSoonContainer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.csSecond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cSText {
  color: white;
  font-size: 60px;
  line-height: 72px;
  font-family: 'BIZ UDPGothic', sans-serif;
}

