
* {
    margin: 0;
    font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}
.topbar {
    float: right;
    padding-right: 5vh;
    right: 0;
    background-color: black;
    width: 100%;
    padding: 13px;
    border-bottom: 5px solid rgb(115, 55, 226);
}

.topbar > a {
    float: right;
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

.topbar > span {
    color: white;
    padding-left: 20px;
    font-weight: 800;
}

.home {
   text-align: center;
   padding-top: 25vh;
   font-size: 45px;
   font-weight: 900;
   line-height: 1.15;
   background-color: rgb(163, 231, 248);
   border-bottom: 5px solid rgb(191, 241, 145);
   height: 75vh;
}

.animate__animated {
    --animate-duration: 2s;
    /* color: white; */
    display: inline-block;
    animation: lightSpeedInRight;
    animation-duration: 2s;
    margin: 0 0.5rem;
}

.batoul{
    font-size: 125px;
    
}

.cooleffect {
    background-color: black;
    font-size: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(191, 241, 145);
}

.bio {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.splitbio {
    width: 55vh;
    padding-right: 25px;
    text-align: left;
    /* line-height: 1.5; */
}

.bioimages {
    width: 55vh;
    margin-top: auto;
    margin-bottom: auto;
}
.socialMedia {
    text-align: center;
    color: gray;
    font-size: 10px;
    padding-top: 4vh;
}

.socialMedia > a {
    padding-left: 10px;
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
     .contact, .portfolio, .bio, .home, .bioimages {
      width: 100vh;
    }
  }

.selfie {
    border: 2px solid yellow;
    height: 300px;
    width: 300px;
}

.portfolio {
    background-color:rgb(191, 241, 145);
    text-align: center;
    height: 60vh;
}

.portfolio > h2 {
    padding-top: 5vh;
    font-weight: 900;
    font-size: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
    border: 0;
}

.center {
    padding-top: 2vh;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;    
}
